.modal-content input, .modal-content select {
  pointer-events: auto !important;
  opacity: 1 !important;
}
.modal {
  z-index: 1060 !important;
}
.modal-backdrop {
  z-index: 1055 !important;
}
#sidebarOverlay {
  z-index: 1000 !important;
}